<%- include('partials/headerAuth') -%>

<div class='chatWrapper'>
    <h1>Chat between <%= currentUser.userName %> and <%= pickedUser.userName %></h1>
    <ul class='messagesWrapper'>
            <% for(let i = 0; i < messages.length; i++){ %>
              <% if(messages[i].sender.toString() === currentUser._id.toString()){ %>
                <li class="received">
                  <p><%= messages[i].content %></p>
              <% }else{ %>
                <li class="sent">
                  <p><%= messages[i].content %></p>
              <% } %>
              </li>
          <% } %>
    </ul>
    <form action="/chat/sendMessage/<%= chat._id %>" method="POST">
        <textarea id="messageText" name="messageText"></textarea>
        <button type="submit">Send</button>
    </form>
</div>

<%- include('partials/footer') -%>