<%- include('partials/headerAuth') -%>

<div class='feedWrapper'>
    <ul>
        <% for(let i = 0; i < posts.length; i++){ %>
            <li>
                <span class='feedPostTitle'><%=posts[i].title%></span>
                <a href='/post/<%=posts[i]._id%>'>
                    <img src='<%= posts[i].image%>'>
                </a>
            </li>
        <% } %>
    </ul>
</div>

<%- include('partials/footer') -%>