<%- include('partials/headerAuth') -%>

<div class='postInfoWrapper'>
    <h2><%= post.title %></h2>
    <img src='<%= post.image%>' class='postImage'>

    <div class='likes_delete'>
        <div class='likes'>
            <form action='/post/likePost/<%= post.id %>?_method=PUT' method='POST'>
                <button type='submit' class='likeBtn'></button>
            </form>
            <h2><%= post.likes %></h2>
        </div>
        <% if(post.user == user.id){ %>
        <form action='/post/deletePost/<%= post.id %>?_method=DELETE' method='POST'>
            <button type='submit' class='trashBtn'></button>
        </form>
        <% } %>
    </div>
    <div class='caption'>
        <p><%= post.caption %></p>
    </div>
</div>

<div class='addCommentWrapper'>
    <form action='/comment/createComment/<%= post._id %>' method='POST' class='commentForm'>
        <h2>Add a comment</h2>
        <textarea id='comment' name='comment' placeholder='Your comment' maxlength='32'></textarea>
        <button type='submit'>Submit</button>
    </form>
</div>

<ul class='commentListWrapper'>
    <% for(let i = 0; i < comments.length; i++){ %>
        <li>
            <p>Commenter ID</p>
            <div></div>
            <p><%= comments[i].comment %></p>
        </li>
    <% } %>
</ul>

<p><a href='/profile' class='postBtmBtns'>Return to Profile</a></p>
<p><a href='/feed' class='postBtmBtns'>Return to Feed</a></p>


<%- include('partials/footer') -%>