<%- include('partials/headerAuth') -%>
<div class="wrapper_nobg">
	<div class='profileInfoWrapper'>
		<!-- left side of the profile -->
		<div class='profile_left'>
			<div class='profile_picture'>
				<img src="<%= user.profilePic%>">
			</div>
		</div>
		<!-- right side of the profile -->
		<div class='profile_right'>
			<span><%= user.userName %></span>
			<div class="divider"></div>
			<span>User status to be added soon</span>
		</div>
	</div>
	<!-- my posts (feed but with only friends posts) -->
	<ul class='feedWrapper'>
		<% for(var i=0; i < posts.length; i++) {%>
			<li>
				<!-- header of the post with picture of the poster, name and date --> 
				<div class="post_info">
					<img src="<%=posts[i].user.profilePic%>" class="smallPfp">
					<div class="post_namedate">
						<p><%=posts[i].user.userName%></p>
						<p><%=posts[i].createdAt.toLocaleDateString('en-US', {day: 'numeric', month: 'short', year: 'numeric'})%></p>
					</div>
				</div>
				<!-- image -->
				<a href="/post/<%=posts[i]._id%>"><img src="<%= posts[i].image%>" class='post_image'></a>
				<!-- likes of the post -->
				<div class="post_likes">
					<div class="post_likebox">
						<img src="/images/like.png" class="post_likeimg">
						<span><%=posts[i].likes%></span>
					</div>
				</div>
				<!-- caption of the post -->
				<div class="post_caption">
					<span><%= posts[i].user.userName%>: </span><span><%=posts[i].caption%></span>
				</div>
			</li>
		<% } %>
	</ul>
</div>
<%- include('partials/footer') -%>