<%- include('partials/headerAuth') -%>

<div class='wrapper_nobg'>
    <!-- search bar -->
    <form action="/search/execute" method="GET" class="search_barwrapper">
        <input type="text" placeholder="Search" name="search_query">
        <button type="submit" class="none_btn search_btn"><img src="/images/search.png"></button>
    </form>
    <!-- list of users -->
    <ul class="search_result">
        <% for(let i = 0; i < filteredUsers.length; i++){ %>
            <li>
                <a href="/profile/<%=filteredUsers[i]._id%>"><img src="<%=filteredUsers[i].profilePic%>" class="search_pfp"></a>
                <div class="search_name">
                    <p><%=filteredUsers[i].userName%></p>
                    <div class="divider"></div>
                </div>
            </li>
        <% } %>
    </ul>
</div>

<%- include('partials/footer') -%>